a:hover, a:focus {
    text-decoration: none;
    color: #5fcea1 !important;
    background: #404b5d;

}
.user-menu.dropdown-menu.show {
    background: #404b5d;
}
a#navbarDropdown {
    color: #000000;
}
user-area .user-menu .nav-link {
    color: #fefeff !important;

}
.navbar .navbar-nav li>a:hover, .navbar .navbar-nav li>a:hover .menu-icon {
    color: #5fcea1 !important;
}
.user-area .user-menu .nav-link {
    color: #d7d9e3;

} 
.admin{
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    border-radius: 2px;
}
.card h4 {
    font-size: 2.2rem;
}
p.text-light {
    font-size: 22px;
}
.notification-menu .dropdown-menu-head {
    padding: 0;
    min-width: 300px;
    
}   
.notification-menu.float-right {
    margin-top: 4px;
}

.col-sm-5 {
    margin-top: -3px;
}
.dropdown-menu-head .title {
    background: #65cea7;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}
.notification-menu .dropdown-menu-head div {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0;
}
.dropdown-list div:last-child {
    padding: 10px 15px;
}
.notification-menu .dropdown-menu li {
    display: block;
    margin: 0;
    float: none;
    background: none;
    padding: 15px;
}
.btn .badge {
    position: relative;
    top: -11px;
    left: -10px;
}

.dropdown-menu.dropdown-menu-head.notifdropdown.pull-right.show {
    top: 30px !important;
    left: -120px !important;
}

a.btn.btn-default.info-number {
    color: #000000;
}